<!DOCTYPE html>
<html lang="kr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project YOCO</title>
  {{ dropzone.load() }}
  {{ dropzone.config(max_files=1, timeout=10000, default_message='Drop files here or Click to upload!')}}
  {{ dropzone.style('border: 5px dashed #CCCCCC; margin: 10%; min-height: 200px;') }}


  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/huebee.css" media="screen">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/main">Project  <img src="static/img/yoco_sm.jpeg" width = "70px"> </a>
      <a href="/github"> <img src="static/img/git.png" width = "30px"></a>
    </div>
  </nav>

  <!-- Masthead -->
  <br><br>
  <header class="text-black text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <img class="col-12 col-sm-6 col-md-8 col align-self-center" src="{{ url_for('static', filename='YOCO_LOGO1.png' ) }}"
         <br><br>
          <img class="col-12 col-sm-6 col-md-8 col align-self-center" src="{{ url_for('static', filename='main.png' ) }}"
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>
<br><br>
    <!-- Icons Grid -->
  <section class=" bg-light text-center">
  {% block content %}{% endblock %}
  </section>

<br>
  <br><br><br> <br><br><br>
  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">청년 AI/BIG DATA 7기 B반 1조</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/77.jpeg" alt="">
            <h5>김준</h5>
            <p class="font-weight-light mb-0">"아 CUDA 개빡쳐"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/22.jpeg" alt="">
            <h5>김덕민</h5>
            <p class="font-weight-light mb-0">"CM송을 만들면 인정 아니면 프로젝트를 다시 하세요"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/55.jpeg" alt="">
            <h5>노희태</h5>
            <p class="font-weight-light mb-0">"이 프로젝트는 말이 안된다 이말이야"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/66.jpeg" alt="">
            <h5>서유라</h5>
            <p class="font-weight-light mb-0">"흫흫흐흐"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/44.jpeg" alt="">
            <h5>이세원</h5>
            <p class="font-weight-light mb-0">"너무 즐거운 과정입니다."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/33.jpeg" alt="">
            <h5>진예진</h5>
            <p class="font-weight-light mb-0">"빅데이터는 제 안의 두 개의 심장이에요"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/11.jpeg" alt="">
            <h5>한미희</h5>
            <p class="font-weight-light mb-0">"아 쫌 그러지 말라구우"</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a class="text-muted" href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="text-muted" href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="text-muted" href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="text-muted" href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; YOCO Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw" style="color:black"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw" style="color:black"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw" style="color:black"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../bower_components/ev-emitter/ev-emitter.js"></script>
  <script src="../bower_components/unipointer/unipointer.js"></script>
  <script src="static/js/huebee.pkgd.min.js"></script>
  <script src="static/js/colorbook.js"></script>
</body>

</html>