{% extends 'layout.html' %}

{% block content %}

  <div class="container">
        <div class="row">
          <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <br><br>
            <h3>How to Use</h3><br>
            <h9 class="mb-10">1. 아래 상자에 변환하고자 하는 인물 사진을 넣어주세요</h9><br><br>
            <h9 class="mb-10">2. 약 5분 후 칼라링 북처럼 변환된 사진이 출력되면, 색을 칠해주세요!</h9><br><br>
            <!--<h9 class="mb-10">3. 약 5분 후 칼라링 북처럼 변환된 사진이 이메일로 전송됩니다.</h9><br><br>-->
            <p class="lead mb-0">
                {{ dropzone.create(action='main') }}
                {{ dropzone.load_js() }}
                {{ dropzone.config() }}
            </p><br>
          </div>
        </div>
       <!--<header class="text-black text-center">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                  <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                      <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                    </div>
                    <div class="col-12 col-md-3">
                      <button type="submit" class="btn btn-block btn-lg btn-secondary">Submit!</button>
                      <br><br>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>-->
        </header>
  </div>

{% endblock %}